@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Inter';
	src: url('/Inter-VariableFont_slnt,wght.ttf');
}

.btn {
	@apply py-1 !important;
}